@import url(http://fonts.googleapis.com/css?family=Electrolize);

body {
   background-color: #000000;
   margin: 0px;
   overflow: hidden;
   color: #ffffff;
   font-family: 'Electrolize', sans-serif;
}

#webgl-container {
   position: absolute;
   top: 0px;
   right: 0px;
}

.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

div.webgl-container-edit {
   cursor: crosshair;
}

div.webgl-container-noedit {
   cursor: move;
}

a {
   color: #6ABBCF;
   text-decoration: none;
   outline-color: transparent;
}

a:hover {
   color: #0080ff;
}

a.system-link span.icons {
   margin-left: 0.35em;
   margin-right: 0.35em;
}

#info p.user label[for="comments"] {
   font-size: 1.5em;
}
#info textarea#comments {
   width: 100%;
   height: 5em;
   max-width: 100%;
   /* margin-left: 1em;
   margin-top: 0.5em; */
   font-family: Electrolize, sans-serif;
   background: #333;
   color: white;
}

#appinfo {
   position: absolute;
   top: 10px; width: 100%;
   color: #ffffff;
   padding: 5px;
   font-size: 13px;
   text-align: center;
}

#map_popup {
   overflow: auto;
   position: absolute;
   top: 200px;
   left: 500px;
   width: 260px;
   height: auto;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   border: 1px solid #333;
   font-size: 14px;
   text-align: left;
   background: rgba( 0, 0, 0, 0.8 );
   z-index: 110;
   padding: 10px 15px;
   display: none;
}

#map_ui {
   overflow: auto;
   position: absolute;
   /* top: 50px; */
   top: 0px;
   left: 0px;
   width: 320px;
   height: 100%;
   padding: 7px;
   /* background-color: #000000; */
   font-family: 'Electrolize', sans-serif;
   font-size: 13px;
   text-align: left;
   background: rgba( 0, 0, 0, 0.5 );
   z-index: 100;
}
#map_ui ul.menubar {
   width: 95%;
   background: transparent;
   list-style: none;
   margin: 0;
   padding: 0;
   text-indent: 0em;
   display: inline-block;
   height: 32px;
}
#map_ui ul.menubar li {
   display: inline-block;
   vertical-align: middle;
   border: 1px transparent;
   /* background: #6ABBCF; */
   margin: 0;
   padding: 0;
}
#map_ui ul.menubar li a {
   color: #666;
   margin: 0;
   padding: 0;
}
#map_ui ul.menubar li.ui-state-active a {
   color: #ccc;
}
#map_ui ul.menubar i, #map_ui i {
   display: inline-block;
}

#map_ui h1, #map_ui h2, #map_ui h3, #map_ui h4, #map_ui h5, #map_ui h6 {
   width: 100%;
   color: #6ABBCF;
   width: 99%;
}
#map_ui h1 a, #map_ui h2 a, #map_ui h3 a, #map_ui h4 a, #map_ui h5 a, #map_ui h6 a {
   width: auto;
   display: block;
}

#map_ui h1 {
   font-size: 20px;
   padding: 0px;
   margin: 0px;
   margin-top: 10px;
}
#map_ui h1 i {
   height: 20px;
}
#map_ui h1 a.right {
   float: right;
}
#map_ui h1 + h2 {
   padding-left: 0.4em;
}
#map_ui h2 {
   font-size: 16px;
   padding: 0px;
   margin-top: 4px;
}
#map_ui img { max-width: 100%; height: auto; }
#map_ui .quote:before { content: "“"; }
#map_ui .quote:after { content: "”"; }

#map_ui p {
   clear: both;
   padding-top: 0.5em;
}
#map_ui h1#blurbheader { margin-bottom: 1em; }
#map_ui #systemblurb { margin-bottom: 3em; }
#map_ui div.user p, #map_ui .sc_system_info p {
   line-height: 20px;
}
#map_ui .blurb_hidden {
   display: none;
}
#map_ui h1 {
   float: none;
   clear: both;
   margin-top: 0.5em;
}
#map_ui h1#systemname, #map_ui h1.padleft {
   margin-left: 0.25em;
}
#map_ui h1#systemname a {
   display: inline;
}

#map_ui ul.instructions li, #map_ui ul.legend li {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

#map_ui button {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   width: 170px;
   text-align: left;
   padding: 6px;
   background: transparent;
   color: white;
   border: 1px solid #888;
   margin: 5px;
}
#map_ui button:focus {
   outline: none;
}
#map_ui li dl {
   margin-top: 1em;
   margin-bottom: 1em;
}
#map_ui .ui-section {
   padding-left: 1.5em;
   padding-right: 1em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}
#map_ui p.impossible {
   color: #FF6666;
   font-size: 1.2em;
   font-weight: bold;
}

#map_ui .text-danger { color: #c00; }

#stats #fpsText { color: #6ABBCF !important; font-family: Electrolize, Helvetica, Arial, sans-serif !important; }
#stats #fpsGraph { background-color: #6ABBCF !important; }

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
   font-family: FontAwesome;
   display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; color: #f88; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; color: #8f8; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 8px; } /* allow space for check mark */

input[type=checkbox][disabled] + label { color: #666; } /* disabled checkbox */
input[type=checkbox][disabled] + label:before{ color: #666; } /* disabled checkbox */
input[type=checkbox][disabled]:checked + label:before { content: "\f046"; } /* checked icon */


input[type=checkbox] + label { font-size: 1.3em; }

span.quick-button {
   display: block;
   width: auto;
   margin-left: 0.65em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

dl {
   border: none;
   padding: 0;
   margin-left: 2em;
}
dt {
   float: left;
   clear: left;
   text-align: right;
   font-weight: bold;
   color: #6ABBCF;
}
dl.wide {
   margin-left: 0;
   padding-left: 0;
   padding-right: 0;
}
dl.wide dt {
   width: 140px;
}

dl.wide dd {
   margin: 0 0 0 145px;
   padding: 0 0 0.4em 0;
}
/*
#keyboard-shortcuts dd {
   width: 250px;
   margin: 0 0 0 35px;
}
*/

dt:after {
   content: ": ";
}

#map_ui #listing h1 {
   margin-bottom: 0.5em;
}
#map_ui #listing ul {
   margin-left: 0;
   margin-bottom: 1.5em;
}
#map_ui #listing ul li, #map_ui #routelist {
   font-size: 1.2em;
   line-height: 1.5em;
}
#map_ui #listing ul li a:hover {
   background: #444444;
}

#map_ui a[data-toggle-next] {
   margin-top: 1em;
}
#map_ui .quick-button label {
   cursor: pointer;
   margin-top: 0.5em;
}
#map_ui .quick-button label .label-info {
   font-size: 0.8em;
   line-height: 1.2em;
   color: #ddd;
   display: block;
   margin-top: 0.5em;
   margin-bottom: 1.5em;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
	overflow: hidden;
	position: relative;
   background: rgba( 0, 0, 0, 0.8 );
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: transparent;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: transparent;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	background: transparent;/*#444;*/
	position: relative;
}

.jspDrag {
	background: #a8a8a8;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
