{{tabHeader 'About this map'}}

<p class="ui-section">
  A 3D (and 2D) interactive galaxy map of the space sim adventure game <a href="https://robertsspaceindustries.com/about-the-game" target="_blank">Star Citizen</a> (currently being developed).
</p>

<p class="ui-section">
  Created by <a href="https://forums.robertsspaceindustries.com/profile/51803/Shiari" title="My profile on the Roberts Space Industries forums" target="_blank">Daughter of Sol</a> (@Shiari on the RSI forums) using <a href="http://get.webgl.org/">WebGL</a> and is announced and discussed in <a href="https://forums.robertsspaceindustries.com/discussion/54931/browser-based-3d-system-map-wip" target="_blank">my forum thread</a>.
</p>

<p class="ui-section">
  Map data was originally kindly provided for use by me by <a href="https://forums.robertsspaceindustries.com/profile/149083/Zuur" target="_blank">Zuur</a>, see <a href="http://mobiglas.com/StarMap/" target="_blank">the MobiGlas Star Map</a> for his original map. It's now also updated with some of the data from the <a href="https://robertsspaceindustries.com/starmap" target="ark-map">ARK star map</a>.
</p>

<p class="ui-section">
  The sourcecode which drives this map is available under the MIT license on its <a href="https://github.com/Leeft/Star-Citizen-WebGL-Map" target="_blank">GitHub project page</a>.
</p>
