{{tabHeader 'Debug information'}}

<p class="ui-section">
  {{checkboxButton "sc-map-toggle-stats" "Framerate statistics" }}
</p>

<div class="sc-map-debug ui-section">
  <p id="debug-systems"></p>
  <p id="debug-state"></p>
  <p id="debug-camera-is-moving"></p>
  <p id="debug-angle" class="hide"></p>
  <p id="debug-target"></p>
  <p id="debug-axis" class="hide"></p>
  <div id="debug-renderer" class="hide">
    <p>Render:</p>
    <dl class="medium">
      <dt class="calls">Calls</dt>
      <dd class="calls">&mdash;</dd>
      <dt class="faces">Faces</dt>
      <dd class="faces">&mdash;</dd>
      <dt class="points">Points</dt>
      <dd class="points">&mdash;</dd>
      <dt class="vertices">Vertices</dt>
      <dd class="vertices">&mdash;</dd>
    </dl>

    <p>Memory:</p>
    <dl class="medium">
      <dt class="geometries">Geometries</dt>
      <dd class="geometries">&mdash;</dd>
      <dt class="textures">Textures</dt>
      <dd class="textures">&mdash;</dd>
    </dl>
  </div>
  <p id="debug-canvases"></p>
</div>
