{{tabHeader 'Debug information'}}

<p class="ui-section">
  {{checkboxButton "sc-map-toggle-stats" "Framerate statistics" }}
</p>

<div class="sc-map-debug ui-section">
  <p id="debug-systems"></p>
  <p id="debug-state"></p>
  <p id="debug-camera-is-moving"></p>
  <p id="debug-angle"></p>
  <p id="debug-target"></p>
  <p id="debug-axis"></p>
  <p id="debug-canvases"></p>
</div>
