{{#uiSection 'Instructions' 0 class='no-pad-top' }}
  <ul class="fa-ul bullet-list-med">
    {{#each instructions}}
      <li><i class="fa fa-li fa-circle-thin"></i>{{{this}}}</li>
    {{/each}}
  </ul>
{{/uiSection }}
